<div class="card card-plain card-blog" id="blog_post_<%= post.id %>">
  <div class="row">
    <div class="col-md-4">
      <div class="card-image">
        <%= link_to storytime.post_path(post) do %>
          <%= image_tag post_primary_or_default_image_url(post), class: "img" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-block">
        <h6 class="card-category text-info">
          <%= render_category(post.post_category) %>
        </h6>
        <h3 class="card-title">
          <a href="#pablo">
            <%= link_to post.title, storytime.post_path(post) %>
          </a>
        </h3>
        <p class="card-description">
          <%= post.excerpt %>

          <%= link_to storytime.post_path(post), class: 'btn btn-link btn-default btn-move-right nowrap' do %>
            <%= t('defaults.read_more') %>
            <i class="fa fa-angle-right"></i>
          <% end %>
        </p>
        <p>
          Updated: <%= post.updated_at.strftime("%b %d, %Y") %>
        </p>
        <p class="tags">
          <%= render 'storytime/posts/tags', post: post %>
        </p>
      </div>
    </div>
  </div>
</div>
