<div class="section section-post">
  <div class="container">
    <% if params[:preview] %>
      <div class="alert alert-info" role="alert">Currently viewing a preview of "<%= @post.title %>".</div>
    <% end %>

    <div class="card card_content">

      <div class="row">
        <div class="col-md-12">
          <h2>
            <%= @post.title %>
            <small>
              <%= @post.try(:category_name) %>
            </small>
          </h2>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-12">
          <%= @post.content.html_safe %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr/>
          <%= render 'storytime/blogs/tags', post: @post %>
        </div>
      </div>

    </div>

    <%= render_comments if @post.show_comments? && !@post.preview %>
  </div>
</div>
