.section.section-gray.section-post.blog-page
  .container
    .row
      .col-md-6.offset-md-3.text-center.title
        - if params[:preview]
          .alert.alert-info{:role => "alert"}
            Currently viewing a preview of "#{@post.title}".
        %h2
          = @post.title

    .article
      .row
        .col-md-10.offset-md-1
          = render_category(@post.post_category, :h4, 'text-center title-uppercase')
          %h6.text-center
            = @post.published_at.strftime("%b %d, %Y")

      .row
        .col-md-8.offset-md-2
          .my-gallery{ itemtype: "http://schema.org/ImageGallery" }
            %figure.col-md-12.gallery-item{ itemprop: "associatedMedia", itemtype: "http://schema.org/ImageObject" }
              = link_to post_primary_or_default_image_url(@post), itemprop: "contentUrl", 'data-size': post_image_dimensions(@post) do
                = image_tag post_primary_or_default_image_url(@post), class: "small-horizontal-image img-rounded img-responsive", itemprop: "thumbnail",  alt: @post.title

          .article-content
            = @post.content.html_safe

          .article-footer
            .container
              .row
                .col-md-12
                  %h5
                    = t('defaults.tags')
                  = render 'storytime/blogs/tags', post: @post

    = render partial: 'shared/prev_next_post'
    .separator
    %br
    = render_comments if @post.show_comments? && !@post.preview
