<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h2 class="title">
        <%= page_title %>
      </h2>
    </div>
  </div>
</div>

<br>

<div class="features-blog" >
  <div class="container">
    <div class="row bottom-line">
        <% PostCategory.blog_categories.order_by_position.each do |category| %>
          <div class="col-3 col-md-3 col-sm-3">
            <!-- # TODO: make better routes -->
            <%= link_to "/#{category.slug}", class: "#{category.slug} #{'active' if params[:action] == category.slug}" do %>
                <div class="info">
                  <div class="icon">
                    <i class="fa <%= category.icon_css_class %>" aria-hidden="true"></i>
                  </div>
                  <h6 class="title">
                    <%= category.name %>
                  </h6>
                  <p>
                    <%= category.description %>
                  </p>
                </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>



