.blog-2.section{ class: Setup.site_settings[:recent_posts][:section_class] }
  .container
    .row
      .col-md-10.offset-md-1
        %h2.title
          =t('defaults.recent_posts')
          %br
        .row
          - Setup.get_posts_for_recent_posts_section.each do |post|
            .col-md-4
              .card.card-blog
                .card-image
                  = link_to storytime.post_path(post) do
                    = image_tag post_primary_or_default_image_url(post), class: "img img-raised"
                .card-block
                  = render_blog_name_and_icon(post.blog)
                  .card-title
                    %h5
                      = link_to post.title, storytime.post_path(post)
                  %p.card-description
                    = post.excerpt.html_safe
                    %p
                      = link_to storytime.post_path(post), class: 'btn btn-link btn-default btn-move-right pull-right nowrap' do
                        = t('defaults.read_more')
                        %i.fa.fa-angle-right
                      %br
                      %br
                  %hr
                  .card-footer
                    = render 'storytime/blogs/tags', post: post
        = render partial: 'shared/read_all_posts'