.section.text-center.section-recent-posts
  .col-md-8.col-md-offset-2
    %h2.text-center.title
      =t('defaults.recent_posts')
    .row
      - recent_posts.each do |post|
        .col-md-4.blog-post
          = link_to storytime.post_path(post) do
            = image_tag post_primary_or_default_image_url(post), class: "img-rounded recent_posts_image"
          %br
          %br
          %h4.title
            = link_to post.title, storytime.post_path(post)
            %small
              = post.try(:category_name)
          %p
            = render 'storytime/blogs/tags', post: post
          %p
            = post.excerpt.html_safe
            = link_to t('defaults.continue_reading'), storytime.post_path(post), class: 'nowrap'

  .row
    .col-md-4.col-md-offset-4.text-center
      %br
      %hr
      = link_to blog_slug, class: 'btn btn-success btn-round' do
        %i.material-icons description
        = t('defaults.read_all_posts')
