<%= render partial: 'home/recent_posts' %>
<%= render partial: 'home/recent_photos' %>
<%= render partial: 'home/fb_rails_way_page' %>

<div class="section <%= Setup.site_settings[site_current_page][:section_class] %> section-<%= @page.slug %>">
  <div class="container">
    <% if params[:preview] %>
      <div class="alert alert-info" role="alert">
        Currently viewing a preview of "<%= @page&.title %>".
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <%= @page&.content.try(:html_safe) %>
      </div>
    </div>
  </div>
</div>

<!-- TODO: fix subscriptions -->
<%#= render partial: 'shared/subscribe' %>
