<div class="col-md-6">
  <div class="card card-plain card-blog text-center">
    <div class="card-image">
        <%= link_to storytime.post_path(post) do %>
          <%= image_tag post_primary_or_default_image_url(post), class: "img img-raised" %>
        <% end %>
    </div>
    <div class="card-block">
        <h3 class="card-title">
          <%= link_to post.title, storytime.post_path(post) %>
        </h3>
        <p class="card-description">
          <%= post.excerpt %>
        </p>
        <p class="tags">
          <%= render 'storytime/posts/tags', post: post %>
        </p>
    </div>
  </div>
</div>
