<% if Setup.site_settings[site_current_page][:hide_title] %>
  <nav class="navbar navbar-expand-lg fixed-top navbar-default  <%= Setup.site_settings[site_current_page][:nav_bg] %>" >

<% else %>
  <nav class="navbar navbar-expand-lg fixed-top nav-down navbar-transparent" color-on-scroll="500">
<% end %>

  <div class="container">
    <div class="navbar-translate">
      <%= render_logo_link link_css_class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <%= render_main_menu %>
        <%= render partial: 'shared/user_menu' %>
        <%= render partial: 'shared/search' %>
      </ul>
    </div>
  </div>
</nav>

<!-- TODO: fix subscriptions -->
<%#= render partial: "storytime/subscriptions/modal" %>
