<header>
  <nav class="navbar navbar-transparent navbar-absolute" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to @current_storytime_site.title, "/", class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= render_main_menu %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= render partial: 'shared/search' %>
          </li>
          <li>
            <%= render partial: 'shared/sign_in_out' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<%= render partial: "storytime/subscriptions/modal" %>
