<div class="wrapper full-screen register">
  <div class="page-header" style="background-image: url('<%= image_path('landing_page_bg.jpg') %>');">
  <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 push-md-4 col-sm-5 push-sm-3 col-xs-12">
          <div class="card card-register">
            <h3 class="card-title text-center">
              <%= t('defaults.forgot_password') %>
            </h3>
            <br>
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'register-form'}) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true, class: 'form-control', label: false, placeholder: "Email" %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, t('defaults.reset_password'), class: 'btn btn-block btn-round' %>
              </div>
            <% end %>

            <div class="login">
              <hr>
              <p>
                <%= render "users/shared/links" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>