<!-- TODO: fix -->
<%# content_for :head, auto_discovery_link_tag(:atom, action: :show, id: @page.id, format: "atom") %>

<%= render :partial => "shared/blog_header" %>

<div class="section <%= Setup.site_settings[site_current_page][:section_class] %> section-blog">
  <div class="blog-4">
    <div class="container">
      <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        <div class="row">
          <% @posts.each do |post| %>
            <%= render partial: '/storytime/banana-beer/blogs/post_photo', locals: { post: post } %>
          <% end %>
          <%= paginate @posts, param_name: "page_number" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <%= render partial: '/shared/all_tags' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
